{{#each result}}
        <p style="color: red;">{{this}}</p>
{{/each}}

{{#each cart}}
            <div class="grid">
               <img src="/{{photo}}"> 
                 {{>food}}
                 <p>Quantity: {{qty}}</p>
            </div>
{{/each}}

{{#if result}}
{{else}}
<br>
<p>Total Cart Price: {{totalPrice}}</p>

 <form method="POST" action="/load-data/check-out">
        <input type="submit" value="CheckOut"/>
</form>
{{/if}}

{{#if user}} 

{{else}}
<h3>You have nothing in your cart</h3>
{{/if}}